body {
    color: #ffffff;
    background-color: black;
}

p {
    font-size: 1.08rem;
    text-indent: 2em;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
